<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="trainingImage" value="C:\Users\jspor\source\repos\CreateTrainingSet\CreateTrainingSet\bin\Debug\data"/>
    <add key="trainingData" value="trainingData.txt"/>
    <add key="weightData" value="weights.txt"/>
  </appSettings>
</configuration>